<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <activity
            android:name=".ui.KtorMonitorActivity"
            android:exported="true"
            android:icon="@mipmap/ktor_ic_launcher"
            android:label="@string/ktor_activity_name"
            android:roundIcon="@mipmap/ktor_ic_launcher_round"
            android:taskAffinity="ro.cosminmihu.ktor.monitor.${applicationId}"
            android:theme="@android:style/Theme.Material.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
